<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

<title>Eola - Lista das Avaliações</title>
<h1 layout:fragment="titulo">Avaliações Feitas</h1>

<div class="content" layout:fragment="content">
    <div class="animated fadeIn">
        
        <div class="row">
            <div class="col-lg-8">
                <a th:href="@{exercicio/criar}" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar Exercicios</a>
                <br/>
                <br/>
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Lista de Exerc'icios</strong>
                    </div>
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th class="serial">#</th>
                                    <th>Titulo</th>
                                    <th>Categorias</th>
                                    <th>Score</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr th:each="data : ${listExercicio}">
                                    <td class="serial" th:text="${data.id}"></td>
                                    <td> <span class="name" th:text="${data.titulo}"></span> </td>
                                    <td> <span class="product" th:each="categoria : ${data.categorias}" th:if="${!categoria.equals('')}" th:text="${categoria.concat(', ')}"></span> </td>
                                    <td><span class="count" th:text="${data.score}"></span></td>
                                    <td>
                                        <span class="badge badge-complete"><a th:href="@{/exercicio/view} + ${'/'+data.id}">Resolver</a></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
            </div>
            <div class="card-body">
                <div class="progress-box progress-1">
                    <h4 class="por-title">Exercicios Resolvidos</h4>
                    <div class="por-txt">96,930 (40%)</div>
                    <div class="progress mb-2" style="height: 5px;">
                        <div class="progress-bar bg-flat-color-1" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress-box progress-2">
                    <h4 class="por-title">Posicao de Estudante</h4>
                    <div class="por-txt">3,220 Users (24%)</div>
                    <div class="progress mb-2" style="height: 5px;">
                        <div class="progress-bar bg-flat-color-2" role="progressbar" style="width: 24%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>